@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <section>
        <ol>
            <li> <class = "list-group-item">
                <a class="btn btn-success" asp-controller="Newsfeeds" asp-action="Index">App01</a>
            </li>
            <li>
                <class ="list-group-item">
                    <a class="btn btn-success" asp-controller="Newsfeeds" asp-action="Index">App02</a>
            </li>
            <li>
                <class ="list-group-item">
                    <a class="btn btn-success" asp-controller="Newsfeeds" asp-action="Index">App03</a>
            </li>
            <li>
                <class ="list-group-item">
                    <a class="btn btn-success" asp-controller="Newsfeeds" asp-action="Index">App04</a>
            </li>
        </ol>

    </section>

</div>
